.pagination {
    display: flex;
    justify-content: center;
  }
  
  .pagination-item {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    margin: 2px;
    text-decoration: none;
    color: #7b7b7b;
  }
  
  .pagination-item.active {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
  }
  
  a.pagination-item:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
  }